#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.mainButton {
  padding: 10px;
  background-color: aqua;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 30px;
}

.result {
  margin-bottom: 20px;
  border-radius: 10px;
  width: 100px;
  border: 1px solid gray;
  padding: 5px;
  font-size: 30px;
  text-align: center;
}

.numbers {
  font-size: 40px;
  font-weight: bolder;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message {
  font-size: 30px;
}

